*, *::before , *::after {
    box-sizing: content-box;
}

body {
    margin:0;
    font-family: 'Playfair Display', serif;
}

img {
    max-width: 100%;
}

ul {
    margin:0;
    padding:0;
}
                        /* == STARTING MOBILE FIRST == */

/* ======= Typography ========= */

.hero__nav {
    color:white;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.heros {
    background-color: black;
    text-transform: uppercase;
    height:5rem;
    position:fixed;
    width:100%;
    z-index: 12;
}

.hero__title {
    font-size:3.5rem;
    font-weight: 300;
    color:white;
}

.hero__subtitle {
    font-size:2rem;
    font-weight: 400;
    color:white;
}

h1, h2, h3, h4{
    margin:0;
}

.z-index10 {
    z-index:10;
}
/* ------------------------- SECTION HERO -----------------------*/

/* ========= Navigation ========= */

.hero__nav {
    text-align: right;
    transform: scale(1, 0);
    transform-origin:top;
    transition:transform 300ms ease-out;
}

.hero__logo {
    width:7%;
    min-width: 80px;
    padding:1.4em 0 0 1em;
}

.hero__img {
    width:2%;
    min-width: 20px;
}

.hero__list {
    list-style: none;
    text-decoration:none;
    padding:1em 1em 1em 0;
    background-color: black;
    opacity: 0.75;
    z-index:10;
}

.hero__item {
    margin-top:0.5em; 
   
}

nav a {
    text-decoration:none;
    color:white;
}

nav a:hover {
    color:goldenrod;
}

.book{
    margin-right:1em;
    margin-top:1em;
    color:black;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    padding:0.4em 0.5em;
    z-index:10;
}

.book a {
    color:black;
    text-decoration:none;
}

.book a:hover {
    color:goldenrod;
}


.nav-toggle:checked ~ .hero__nav {
    transform:scale(1,1);
}

.nav-toggle {
    display:none;
}

.nav-toggle-label {
    position:absolute;
    top:0;
    right:0;
    margin: 45px 1em 0 0;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
display:block;
background: white;
height:3px;
width:1.5em;
border-radius:2px;
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content:'';
    position:absolute;
}

.nav-toggle-label span::before {
    bottom:7px;
}

.nav-toggle-label span::after {
    top:7px;
}

/* ========= Container hero ============ */

section {
    margin:0;
}

.hero {
    height:90vh;
    display: flex;
    background-image:url('/assets/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:5rem;
}

.container__hero {
    position:relative;
    display: flex;
    flex-direction: column;
    width:70%;
    margin-top:2.7em;
    padding-left:2em;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero--overlay {
    position:absolute;
    height:90vh;
    width:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index:1;
}

.hero__title, .hero__subtitle {
    z-index:10;
}
/* ------------------------- SECTION ABOUT -----------------------*/

.about {
    display: flex;
    background-color: rgb(246, 231, 227);
    background-blend-mode: multiply;
    background-image: url('/assets/about_small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    height:100vh;
    
}

.about__hours {
    background-color: black;
    color:white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8rem;
    writing-mode: vertical-rl; 
    transform:scale(-1);
    text-align:right;
    padding:2.5rem 0;
}

.container__centering {
    width:60%;
   padding: 2rem;
   position:relative;
}
.container--overlay {
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index:1;
}

.about__title {
    font-weight: 700;
}

.about__text {
    font-weight:lighter;
    line-height: 1.5rem;
}

.book--black{
    margin-right:1em;
    margin-top:1em;
    color:white;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    padding:0.4em 0.5em;
}

.book--black a {
    color:white;
    text-decoration:none;
}

.book--black a:hover {
    color:goldenrod;
}


/* ------------------------- SECTION SERVICES -----------------------*/
.container--flex {
    position:relative;
    display: flex;
    text-align: center;
    width:80%;
    flex-direction: column;
    justify-content: center;
 }

 .container__services--faces {
     position:relative;
    display: flex;
    text-align: center;
    width:100%;
    flex-direction: column;
    justify-content: center;
 }

 .container__services--overlay{
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index:1;
 }

 .services {
     padding:1em 0;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .services img {
     width:50px;
 }

 .services__indi1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height:25vh;
    background-image: url('/assets/lookbook-four.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
 }

 .services__indi2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:25vh;
   background-image: url('/assets/lookbook-six.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.services__indi3 {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    height:25vh;
   background-image: url('/assets/lookbook-one.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.services__indi4 {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    height:25vh;
   background-image: url('/assets/lookbook-five.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.services__detail {
    color:white;
    font-size: 2rem;
}

.readmore {
    margin-right:1em;
    margin-top:1em;
    color:white;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    padding:0.4em 0.5em;
}


/* ------------------------- SECTION STYLISTS -----------------------*/
.stylist {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.container__stylist {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.styl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styl-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
}

.stylist__title {
    font-size: 3rem;
    padding: 0.5em 0;
}

.id {
    background-color: black;
    color:white;
    width:70%;
    z-index: 1;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 2em;
}

.stylist__review {
    position:relative;
   background-image: url('/assets/review1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   margin-top:5rem;
   
}

.container__review--overlay {
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index:1;
}

.stylist__review img {
    width:30px;
}

.stylist__text {
    color:white;
    font-weight: lighter;
    line-height: 1.3rem;
}

.review__name {
    text-transform: uppercase;
    font-style: italic;
    color:white;
    font-size: 0.5rem;
}

/* ------------------------- LOOKBOOK -----------------------*/

.lookbook__title {
    font-size: 3rem;
    padding: 0.5em 0;
    text-align: center;
}

.figure {
    margin:0;
    padding:0;
}

.gallery__item {
    margin:0;
    padding-right:1em;
}

.grid-container {   
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
    justify-content: center;
  }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1{
    grid-row:    1 / 2;
    grid-column: 1 / 2; 
    padding-bottom:1em;
}

.gallery__item--2{
    grid-row:    1 / 3;
    grid-column: 2 / 3; 
    padding-bottom:1em;
}

.gallery__item--3{
    grid-row:    1 / 2;
    grid-column: 3 / 4; 
    padding-right:0;
    padding-bottom:1em;
}

.gallery__item--4{
    grid-row:    2 / 4;
    grid-column: 1 / 2; 
    padding-bottom:1em;
}

.gallery__item--5{
    grid-row:    3 / 4;
    grid-column: 2 / 3; 
    padding-bottom:1em;
}

.gallery__item--6{
    grid-row:    2 / 4;
    grid-column: 3 / 4; 
    padding-right:0;
    padding-bottom:1em;
}

/* ------------------------- FOOTER -----------------------*/

footer {
    background-color: black;
    color:white;
}

footer a {
    text-decoration: none;
    color:white;
}

footer li {
    list-style: none;
}

.container___footer {
    display: flex;
    flex-direction: column;
    padding:1em;
    align-items: center;
}

.footer__text, .footer__item, .footer__list {
    font-weight:lighter;
    font-size: 0.6rem;
    line-height: 1rem;
}

.footer__item, .footer__text, .footer__title {
    text-align: left;
}

.footer__col {
    width:70%;
}

.footer__col img {
    width:100px;
}

.footer__item{
    margin:0;
    padding:0;
}

.footer__title {
    margin:1em;
}

.footer__title:after {
    content: "";
    border-bottom: 2px solid white;
    width: 10%;
    max-width: 35px;
    padding-top:0.5rem;
    display: block;
}

.time::before {
        content:"⏰";
        margin-right:5px;
    }

.tel::before {
    content:"☎️";
    margin-right:5px;
}

.address::before {
    content:"📍";
    margin-right:5px;
}

.mel::before {
    content:"✉️";
    margin-right:5px;
}

/* -------- Tablets ------- */
@media (max-width:758px) and (min-width: 481px) {
    
    .container__hero {
        width:60%;
        max-width: 500px;
        padding-top:2em;
    }

    .container--flex {
        flex-direction: row;
        justify-content: space-between;
        width:90%;
        padding: 1em 0;
    }

    .container__centering {
        padding-top:2rem;
    }

    .about {
        height:70vh;
    }

    .container--overlay {
        height: 70vh;
    }

    .container__services--faces {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 0;
        }
    
    .container__services--overlay{
            position:absolute;
            width:100%;
            height:25vh;
            background: rgba(0, 0, 0, 0.3);
            z-index:1;
         }
    .services__detail {
            font-size: 1.0rem;
        }
    
    .services__indi1, .services__indi2, .services__indi3, .services__indi4 {
        width:25%;
    }

    .services__indi3 {
        background-color: rgb(246, 231, 227);
        background-blend-mode: multiply;
        background-image: url('/assets/lookbook-one-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container__review--overlay {
        position:absolute;
        width:100%;
        height:100%;
        background: rgba(0, 0, 0, 0.3);
        z-index:1;
    }
    
    .readmore {
        margin-right:1em;
        margin-top:1em;
        color:white;
        background-color: black;
        border-style: none;
        border-radius: 5px;
        padding:0.4em 0.5em;
        font-size: 0.75rem;
    }
    

    .container__stylist {
        display:flex;
        flex-direction: row;
    }

    .stylist__review {
        min-height:60vh;
    }

    .stylist__text {
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .review__name {
        font-size: 1rem;
    }

    .container___footer {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .footer__col {
        padding:0;
        margin-left:1em;
    }

    .footer__title {
        font-size:1rem;
        margin-left:0;
    }
.imglook {
    margin-left: 1rem;
}
    }

    /* -------- Small Screens ------- */

    @media (max-width:1200px) and (min-width: 758px) {

       .hero__nav {
        font-size:1.5rem;
       }
    
       .about__text {
           font-size:1rem;
           line-height: 1.5;
       }
        .container__hero {
            width:60%;
            max-width: 500px;
            padding-top:2em;
        }
    
        .container--flex {
            flex-direction: row;
            justify-content: space-between;
            width:90%;
            padding: 1em 0;
        }
    
        .about {
            height:100vh;
        }
    
        .container--overlay {
            height: 100vh;
        }

      
        .container__services--faces {
            flex-direction: row;
            justify-content: space-between;
            padding: 1em 0;
            }

            .container__services--overlay{
                position:absolute;
                width:100%;
                height:25vh;
                background: rgba(0, 0, 0, 0.3);
                z-index:1;
             }
        
             .container__review--overlay {
                position:absolute;
                width:100%;
                height:100%;
                background: rgba(0, 0, 0, 0.3);
                z-index:1;
            }

        .services__detail {
                font-size: 1.5rem;
            }
        
        .services__indi1, .services__indi2, .services__indi3, .services__indi4 {
            width:25%;
        }
    
        .services__indi3 {
            background-color: rgb(246, 231, 227);
            background-blend-mode: multiply;
            background-image: url('/assets/lookbook-one-tablet.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        .readmore {
            margin-right:1em;
            margin-top:1em;
            color:white;
            background-color: black;
            border-style: none;
            border-radius: 5px;
            padding:0.4em 0.5em;
            font-size: 0.75rem;
        }
        
        .container__centering {
            width:50%;
            padding-top:2rem;
        }

        .container__stylist {
            display:flex;
            flex-direction: row;
        }
    
        .stylist__review {
            min-height:80vh;
        }
    
        .stylist__text {
            line-height: 3rem;
            font-size: 2rem;
        }

        .styl-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
        }
    
        .review__name {
            font-size: 1.5rem;
        }
    
        .container___footer {
            display:flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            max-width:1000px;
            margin:auto;
        }
    
        .footer__col {
            padding:0;
            margin-left:1em;
        }
    
        .footer__title {
            font-size:1.2rem;
            margin-left:0;
        }

        .max-width  {
            max-width: 900px;
            margin:auto;
        }

        .imglook {
        margin-left: 1rem;
         }

         .book {
            font-size:1.5rem;
        }
             .booktop {
        font-size: 1.5rem;
             }
        }
    
/* ------- Large screens ------*/

@media (min-width: 1201px) { 


    .nav-toggle-label {
        display: none;
      }

      .heros {
        display: grid;
        height: 15vh;
    }  
      
      nav, .hero__nav {
        // all: unset; /* this causes issues with Edge, since it's unsupported */
        
        /* the following lines are not from my video, but add Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      nav ul, .hero__list {
        display: flex;
      }

      .hero__nav {
          font-size:1.3rem;
      }
      
      nav li, .hero__item {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        text-decoration:none;
        color:white;
    }
    
    nav a:hover {
        color:goldenrod;
    }
    
    .hero__logo {
        width: 10%;
        min-width: 100px;
        margin: auto; }

    .container__hero {
        width:50%;
        max-width: 500px;
        padding:5em;
    }

    .hero__title{
        font-size: 5rem;
    }


    .about__title {
        font-size: 4rem;
    }

    .hero__subtitle, {
        font-size: 3rem;
    }

    .hero {
        height:100vh;
    }

    .about__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .container--flex {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 2em 0;
    max-width:1000px;
    }

    .container--overlay {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        height:100vh;
    }

    .hero--overlay {
        height:100%;
    }

    .services__title {
        font-size: 2rem;
    }

    .services__text {
        font-size: 1.5rem;
    }

    .services img {
        width:80px;
    }

    .container__services--faces {
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .services__indi1, .services__indi2, .services__indi3, .services__indi4 {
        width: 25%;
    }

    .styl {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2em; }

    .readmore {
        margin-right:1em;
        margin-top:1em;
        color:white;
        background-color: black;
        border-style: none;
        border-radius: 5px;
        padding:0.4em 0.5em;
        font-size: 1.5rem;
    }

    .container__stylist {
        display: flex;
        flex-direction: row;
        height:60vh;
        width:80%;
        justify-content: space-between;
    }

    .styl-img {
        width:100%;
    }

    .stylist__review {
        min-height:80vh;
    }

    .stylist__text {
        line-height: 3rem;
        font-size: 2rem;
    }

    .review__name {
        font-size: 1.5rem;
    }

    .stylist__review img {
        width:50px;
    }

    .container__review--overlay {
        position:absolute;
        width:100%;
        height:100%;
        background: rgba(0, 0, 0, 0.3);
        z-index:1;
    }
    .services__indi1, .services__indi2, .services__indi3, .services__indi4 {
        height: 50vh;
    }

    .container___footer {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width:1000px;
        margin:auto;
    }

    .footer__col {
        padding:0;
        margin-left:1em;
    }

    .footer__title {
        font-size:2rem;
        margin-left:0;
    }

    .footer__text, .footer__item {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .container___footer  {
        max-width: 1200px;
        margin:auto;
    }

    .imglook {
        margin-left: 1rem;
     }
.book {
    font-size:1.5rem;
}
     .booktop {
font-size: 1rem;
     }
}